/* PARALLAX SCROLLING EXPERIMENT
   Master Styles
   Author: Jonathan Nicol (f6design.com)
*****************************************************************/


/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}


/* Extended base styles (site specific)
*****************************************************************/

html {
	overflow-y: scroll;
	/* always force a scrollbar in non-IE */
}

body {
	background: #b8e0ff;
	overflow-x: hidden;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

h1 {
	color: #649cc8;
}

img {
	display: block;
}



/* Parallax
*****************************************************************/

/* content */
#content {
	z-index: 4;
	position: absolute;
	min-width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
}

#content article {
	width: 50%;
	left: 50%;
	margin-right: 2rem;
}
#content article p {
	overflow-wrap: break-word;
}
#page-number-1 {
	position: relative;
	top: 200px;
	left: 50%;
}

#page-number-2 {
	position: absolute;
	top: 1090px;

}

#page-number-3 {
	position: absolute;
	top: 2180px;
}

#content h1 {
	margin: 0 0 25px 0;
	font-size: 60px;
	font-family: Georgia, serif;
	font-weight: normal;
	line-height: 65px;
}

#page-number-4 {
	position: absolute;
	top: 3270px;
}

/* background images */
#parallax-bg1 {
	background: url('/images/white.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    min-height: 100%;
    width: 100%;
	/* move left by half element's width */
}

#bg1-1 {
	position: absolute;
	top: 85px;
	left: -270px;
}

#bg1-2 {
	position: absolute;
	top: 440px;
	left: 795px;
}